---
import Title from './Title.astro'
type Props = {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<div class='flex flex-col justify-start gap-2 title'>
	<Title>{title}</Title>
	<div class='text-gray-400 text-lg'>{description}</div>
</div>
